<tbody id="myTable">
    <tr>
        <td>1</td>
      <td>2020</td>
      <td>Photoshop deasign</td>
      <td> <a href=""> <button class="btn btn-danger " data-toggle="modal" data-target="#my-modal"> Delete</button> </a> </td>
      <td>  <a href=""> <button class="btn btn-primary" data-toggle="modal" data-target="#my-modal1"> Edit</button> </a></td>
    </tr>
    <tr>
      <td>2</td>
      <td>2021</td>
      <td>back-end </td>
      <td>  <a href=""> <button class="btn btn-danger " data-toggle="modal" data-target="#my-modal"> Delete</button> </a></td>
      <td>  <a href=""><button class="btn btn-primary" data-toggle="modal" data-target="#my-modal1"> Edit</button></a>  </td>
    </tr>
    <tr>
      <td>4</td>
      <td>2022</td>
      <td>web developer</td>
      <td>  <a href=""> <button class="btn btn-danger " data-toggle="modal" data-target="#my-modal"> Delete</button> </a></td>
      <td>  <a href=""> <button class="btn btn-primary" data-toggle="modal" data-target="#my-modal1"> Edit</button></a> </td>
    </tr>
    <tr>
      <td>5</td>
      <td>2023</td>
      <td>security</td>
      <td>   <button class="btn btn-danger " data-toggle="modal" data-target="#my-modal"> Delete</button> </td>
      <td>   <button class="btn btn-primary" data-toggle="modal" data-target="#my-modal1"> Edit</button> </td>
    </tr>
    <tr>
      <td>6</td>
      <td>2023</td>
      <td>grafic deasign</td>
      <td>   <button class="btn btn-danger " data-toggle="modal" data-target="#my-modal"> Delete</button> </td>
      <td>   <button class="btn btn-primary" data-toggle="modal" data-target="#my-modal1"> Edit</button> </td>
    </tr>
  </tbody>